@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow|Saira+Stencil+One&display=swap');

:root {
    --main-color: black;
    --accent-color: grey;
}

body {
    max width: 980;
    margin: auto;
}

header .logo {
    font-family: font-family: 'Londrina Shadow', cursive;
    font-size: 3rem;
    text-align: flex-start;
    margin: 0;
}

header .menu {
     display: flex;
     list-style-type: none;
     justify-content: space-around;
     padding: 0;
}

header .menu a {
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
}

header .menu a:hover {
    border: 1px solid var(--accent-color);
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }
}

header .menu {
    flex: 1;
}

header .linkssign {
    display: flex;
    justify-content: flex-end;
    font-family:
}


main .maintitle {
    display: flex;
    justify-content: center;
    font-family: 'Saira Stencil One', cursive;
    font-size: 4rem;
    margin: 0;
}

main .carbrands {
    display: flex;
    justify-content: space-around;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2rem;
    margin: 0;
}

main .titleforkits {
    display: flex;
    justify-content: center;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2rem;
    margin: 0;
}

main .mercedeslogo {
   display: flex;
   justify-content: flex-start;
   border-radius: 8px;
   height: 200px;
   weight: 200px;
}

main .audilogo {
   display: flex;
   justify-content: center;
   border-radius: 8px;
   height: 200px;
   weight: 200px;
}

main .bmwlogo {
   display: flex;
   justify-content: flex-end;
   border-radius: 8px;
   height: 200px;
   weight: 200px;
}

main .products {
    display: flex;
    justify-content: space-between;
}

footer .socialnetworktitle {
    display: flex;
    justify-content: center;
    font-family:'Saira Stencil One', cursive;
}